svg {
	max-width: 16rem;

	>g {
		&:hover {

			>.arms,
			>.chest {
				transform: translateY(-2rem);
			}
		}

		>* {
			transition: var(--transition);
		}

		>.eyes {
			animation: blink 5s ease infinite;

			@keyframes blink {
				90% {
					opacity: 1;
				}

				95% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}
	}
}
