div.greetings {
	position: relative;
	margin: .58rem .75rem;
	padding: .75rem;
	padding-bottom: .25rem;
	width: 20rem;
	border-radius: .8rem;
	background: var(--purple);
	color: black;
	outline: var(--outline);
	box-shadow: var(--box-shadow);

	>div {
		>div {
			display: inline-block;
			width: 1.25rem;
		}

		>* {
			margin: 0rem .25rem;
			line-height: 1.66rem;
		}
	}

	&::after {
		content: '◢';
		position: absolute;
		opacity: 100%;
		bottom: .5rem;
		right: .5rem;
		line-height: .9rem;
		transition: var(--transition3);
	}

	>div:last-child {
		opacity: 1%;
		margin-top: -1.16rem;
		direction: rtl;
		text-align: left;

		>span {
			margin-left: 2rem;
		}
	}

	&:hover {
		margin: 0rem .75rem;

		>div:last-child {
			opacity: 100%;
			margin-top: 0;
		}

		&::after {
			transform: scale(.75) translate(25%, 25%);
		}
	}
}
