div.greetings {
	padding: .8rem;
	border-radius: .8rem;
	background: var(--purple);
	color: black;
	outline: var(--outline);
	box-shadow: var(--box-shadow);

	>div {
		vertical-align: baseline;

		>div.stroke {
			margin: 0rem .25rem;
			width: 1.5rem !important;
		}

		>div {
			margin-top: .25rem;
			max-width: calc(100% - 2rem);

			>div {
				display: inline-block;
				margin-right: .25rem;
			}
		}
	}
}
