a.sponsor.button {
	padding: .25rem 1.2rem;
	border-radius: .5rem;
	color: hsla(215, 15%, 16%, 100%);
	background: hsla(114, 31%, 68%, 100%);
	box-shadow: inset 0rem .15rem .5rem 0rem hsla(0, 0%, 0%, 50%);
	transition: var(--transition);

	&:hover {
		padding: .35rem 1.2rem .15rem 1.2rem;
		box-shadow: inset 0rem .3rem .8rem 0rem hsla(0, 0%, 0%, 67%);
	}

	>span {
		margin-left: .5rem;
		font: normal 1rem monospace;
		line-height: 1.5rem;
	}
}
