section.NeonPage {
	>div.neon {
		margin: 10rem auto;
		width: 15rem;
		height: 15rem;
		justify-content: center;
		align-items: center;
		border-radius: 2rem;
		outline: .3rem solid var(--mariana0);
		transition:
			outline 500ms ease,
			box-shadow 500ms ease,
			transform 500ms ease;

		>div {
			font: normal 3.5rem sans-serif;
			color: var(--mariana0);
			transition:
				color 500ms ease,
				text-shadow 500ms ease,
				transform 500ms ease;
		}

		&:hover {
			outline: .3rem solid white;
			box-shadow:
				0 0 1rem yellow,
				inset 0 0 .5rem yellow;
			transform: rotate(45deg);

			>div {
				color: white;
				text-shadow: 0 0 1rem yellow;
				transform: rotate(-90deg);
			}
		}
	}
}
