div.button.dimensional {
	width: 6rem;
	height: 4rem;
	padding: .25rem;
	border-radius: .5rem;
	background: var(--orange);

	>div {
		width: 100%;
		height: 100%;
		border-radius: .5rem;
		background: var(--red0);
		position: relative;

		>div {
			position: absolute;
			bottom: .8rem;
			width: 100%;
			height: 100%;
			padding: .5rem;
			border-radius: .5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: var(--mariana0);
			background: var(--red3);
			cursor: pointer;

			&:active {
				bottom: .2rem;
				background: var(--red2);
			}
		}
	}
}
