div.button.dimensional {
	border-radius: .5rem;
	display: flex;
	color: var(--mariana0);
	background: var(--red3);
	transform-style: preserve-3d;
	transform: translate3d(0, -.5rem, 0rem);
	position: relative;

	>div {
		width: 100%;
		height: 100%;
		padding: .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: inherit;
		background: inherit;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background: inherit;
		transform: translate3d(0, .5rem, -1px);
		filter: brightness(.5);
	}

	&:hover {
		transform: translate3d(0, -.4rem, 0);

		>div {
			filter: brightness(1.1);
		}

		&::after {
			transform: translate3d(0, .4rem, -1px);
		}
	}

	&:active {
		transform: translate3d(0, -.2rem, 0);

		>div {
			filter: brightness(.9);
		}

		&::after {
			transform: translate3d(0, .2rem, -1px);
		}
	}
}
