section.Resume {

	position: relative;
	margin: 1rem 0rem;
	padding: 0rem 1rem 1rem 18rem;
	max-width: 60rem;

	&.no-nav {
		padding: 0rem 1rem 1rem 1rem;
		max-width: 43rem;
	}

	* {
		max-width: 100vw;
	}

	h1 {
		margin: 1rem 0rem 0rem 0rem;
		font: 200 3.5rem 'Helvetica Neue', sans-serif;
	}

	h2 {
		margin: 1rem 0rem 0rem 0rem;
		padding: 0rem 1rem;
		font-weight: normal;
		border-bottom: var(--border-title);
		color: var(--mint);
	}

	p {
		margin: 1rem 1rem;
		line-height: 1.25;

		&.small {
			opacity: 80%;
		}
	}

	div.contact {
		>a {
			margin: .3rem 0rem;
			font-size: .9rem;
			line-height: 1rem;
			display: flex;
			align-items: center;

			>span {
				margin: 0rem .5rem 0rem 0rem;
				font-size: 1rem;
			}

			>img {
				margin: 0rem .5rem 0rem 0rem;
				height: 1rem;
			}
		}
	}

	>div.contact {
		display: none;

		&.no-nav {
			display: initial;
		}

		>div.contact {
			margin: 1rem 1rem;
		}
	}

	>nav {
		position: absolute;
		left: 0rem;
		top: -1rem;
		padding: .5rem;
		width: 16rem;
		height: calc(100% + 2rem);
		border-radius: 1rem 0rem 0rem 1rem;
		background: var(--mint);

		&.no-nav {
			display: none;
		}

		>div.sticky {
			position: sticky;
			left: auto;
			top: 1.8rem;
			color: var(--body);

			h3 {
				margin: 0rem 0rem .5rem 0rem;
			}

			>div {
				margin: .3rem;
				padding: .5rem;
				border-radius: .5rem;

				&.table-of-contents {
					margin-top: 1.5rem;

					>div {
						margin: .5rem 0rem;

						&.indent1 {
							margin: .5rem 0rem .5rem 1rem;
						}

						&.indent2 {
							margin: .2rem 0rem .2rem 2rem;
							opacity: 75%;
						}
					}
				}
			}
		}
	}
}
