section.Resume>nav {
	position: absolute;
	left: 0rem;
	top: -1rem;
	padding: .5rem;
	width: 16rem;
	height: calc(100% + 2rem);
	border-radius: 1rem 0rem 0rem 1rem;
	background: var(--mint);

	@media (max-width: 800px) {
		display: none;
	}

	>div.sticky {
		position: sticky;
		top: 1.8rem;
		bottom: 1.8rem;
		left: 0rem;
		right: 0rem;
		color: var(--body);

		h3 {
			margin: 0rem 0rem .5rem 0rem;
			font-weight: bold;
			color: var(--body);
		}

		>div {
			margin: .3rem;
			padding: .5rem;
			border-radius: .5rem;

			&.table-of-contents {
				margin: 1.5rem .3rem .3rem 0rem;
				max-height: calc(100vh - 15rem);
				overflow-y: scroll;


				div {

					>a {
						display: block;
						padding: .25rem 0rem .25rem .5rem;
						transition: var(--transition);
					}

					>a:hover {
						margin-left: .5rem;
						// padding-top: .35rem;
						// padding-bottom: .15rem;
						border-radius: .5rem;
						color: black;
						background: hsla(114, 20%, 50%, 100%);
					}

					>div {
						display: none;
					}

					&.active {

						>a {
							font-weight: bold;
							text-decoration: underline;
							text-decoration-color: var(--mariana2);
							color: black;
						}

						>div {
							display: block;
						}
					}

					&.indent1>a {
						padding-left: 1.5rem;
					}

					&.indent2>a {
						padding-left: 2.5rem;
					}
				}
			}
		}
	}
}
