div.toolbar.fixed {
	position: fixed;
	right: 25px;
	bottom: 25px;
	justify-content: flex-end;
	align-items: center;

	>* {
		width: 50px;
		height: 50px;
		margin: 8px;
		border-radius: 50%;
		font-size: 24px;
		text-align: center;
		box-shadow: var(--shadow0);
		transition: var(--transition);
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: translateY(2px);
			box-shadow: var(--shadow1);
		}
	}

	>div.theme.button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--text);
	}
}
