div.toolbar.fixed {
	position: fixed;
	right: 25px;
	bottom: 25px;
	justify-content: flex-end;

	>* {
		width: 50px;
		height: 50px;
		margin: 8px;
		border-radius: 25px;
		// border-bottom: 2px solid var(--mariana0);
		box-shadow: var(--shadow0);
		transition: all 50ms ease, box-shadow 1s ease;
		cursor: pointer;

		&:active {
			border: none;
			transform: translateY(2px);
			box-shadow: var(--shadow1);
		}
	}

	>div.theme.button {
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		background: var(--text);

		&:hover {
			box-shadow:
				-50px -50px 99px 32px var(--text),
				var(--shadow0);
		}
	}
}
