/**************************************************************
 *****                 HEADER STARTS HERE                 *****
 **************************************************************/
header {
	width: 100%;
	padding: 1rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 0rem 0rem;
	background: var(--mint);
	align-items: flex-end;

	>a.svg.image.link>svg {
		max-width: 16rem;

		>g>* {
			transition: all 500ms ease;
		}

		>g:hover>.arms,
		>g:hover>.chest {
			transform: translateY(-2rem);
		}

		// >g:hover>.eyes {
		// 	opacity: 0;
		// }
	}

	>h1 {
		padding: 0rem 0rem 1rem 0rem;
		font: normal 3rem monospace;
		text-align: center;
		border: none;
		color: var(--body);
	}
}
