/**************************************************************
 *****                 HEADER STARTS HERE                 *****
 **************************************************************/
header {
	width: 100%;
	padding: 1rem 1rem 0rem 1rem;
	border-radius: 1rem 1rem 0rem 0rem;
	background: var(--mint);
	align-items: flex-end;
	justify-content: center !important;
	transition: var(--transition5);

	&.lights-out {
		background: var(--body);

		>h1 {
			color: white;
			font-weight: 100;
			filter: drop-shadow(0rem 0rem .5rem yellow);
		}
	}

	>h1 {
		padding: 0rem 0rem 1rem 0rem;
		font: normal 3rem monospace;
		text-align: center;
		border: none;
		color: var(--body);
		transition: var(--transition);
		cursor: default;
	}
}
