div.contact {
	>div.form {
		height: 0;
		opacity: 1%;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		transition: var(--transition5);
		z-index: 1;

		>div {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 10px 0px;
			width: fit-content;
			border-radius: 20px;
			// background: var(--purple5);
			// outline: var(--outline);
			// box-shadow: var(--box-shadow);
			background: hsla(300, 35%, 82%, 50%);
			backdrop-filter: blur(24px);
			outline: 1px solid hsla(219, 28%, 88%, 25%);
			box-shadow: var(--shadow3);

			>div {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 40px;
				height: 40px;
				text-align: center;
				border-radius: 50%;
				// background: var(--coral);
				background: hsla(357, 79%, 65%, 75%);
				backdrop-filter: blur(4px);
				outline: 1px solid hsla(357, 79%, 75%, 30%) !important;

				>svg {
					position: absolute;
					transform: scale(.3);
					filter: blur(1px);

					>g>line:not([stroke='black']) {
						display: none;
					}
				}
			}
		}
	}

	>div.form.show {
		height: 100vh;
		opacity: 100%;
		background: hsla(215, 15%, 16%, 50%);
		backdrop-filter: blur(4px);
	}
}
