section.Home {

	>div.hello {
		justify-content: center;
		margin: .5rem 1rem;

		>div {
			margin: .5rem 1rem;
		}

		>div.info {
			min-width: 16rem;

			>p {
				margin: .5rem auto;
				text-align: center;
				font: normal 1rem monospace;
			}

			>div.flex.wrap {
				justify-content: center;
				align-items: center;
				padding: .25rem;
				border-radius: .5rem;

				>* {
					margin: .25rem 1rem;
					padding: .25rem 0rem;
				}
			}
		}
	}

	>div.stats {
		margin-top: 2rem;
		justify-content: space-evenly;
		align-items: center;

		>div.buttons.column {
			margin: 1rem 2rem;
			justify-content: center;
		}
	}

	>div.showcase {
		padding: 0rem 1rem;
		justify-content: center;
		align-self: center;
		max-width: 56rem;

		>a {
			flex: 1 1 24rem;
			margin: 1rem;
			padding: 1rem;
			border-radius: .5rem;
			align-items: flex-start;
			justify-content: space-between;
			text-overflow: ellipsis;
			background: var(--teal);
			outline: var(--outline);
			box-shadow: var(--box-shadow);
			transition: var(--transition3);

			&:hover {
				transform: scale(1.025);
			}

			&:active {
				transform: scale(.975);
			}

			// &:has(img) {
			// 	flex: 2 1 25rem;
			// }

			// >img {
			// 	border-radius: .5rem .5rem 0rem 0rem;
			// 	outline: var(--outline);
			// 	width: 100%;
			// }

			* {
				max-width: calc(100vw - 6rem);
			}

			>div.title {
				color: var(--mariana0);

				>h3 {
					margin: 0rem;
					overflow-x: hidden;
					text-overflow: ellipsis;
				}

				>div.description {
					margin: .25rem 0rem 0rem 0rem;
					font-size: .9rem;
				}
			}

			>div.badges {
				margin: .5rem 0rem 0rem 0rem;

				>img {
					margin: .5rem .5rem 0rem 0rem;
				}

				>img:last-child {
					margin: .5rem 0rem 0rem 0rem;
				}
			}

			>div.engagement {
				margin: 1rem 0rem 0rem 0rem;

				>div {
					margin: 0rem 1rem 0rem 0rem;
					padding: .2rem .4rem;
					border-radius: .4rem;
					font: bold .9rem monospace;
					vertical-align: middle;
					background: var(--pink);
					color: var(--mariana0);

					>span.stroke {
						margin-right: .25rem;
					}
				}

				>div:last-child {
					margin: 0;
				}
			}
		}
	}
}
