section.Home {

	>div.hello {
		justify-content: center;

		>div.left {
			flex: 1;
			margin: 1rem 2rem;
			padding: .8rem;
			border-radius: .8rem;
			background: var(--purple);
			color: black;
			outline: var(--outline);
			box-shadow: var(--box-shadow);

			>div {
				vertical-align: baseline;

				>div.stroke {
					margin: 0rem .25rem;
					width: 1.5rem !important;
				}

				>div {
					margin-top: .25rem;
					max-width: calc(100% - 2rem);

					>div {
						display: inline-block;
						margin-right: .25rem;
					}
				}
			}
		}

		>div.right {
			flex: 1;
			margin: 1rem 2rem;
			min-width: 16rem;

			>p {
				margin: .5rem auto;
				text-align: center;
				font: normal 1rem monospace;
			}

			>div.flex.wrap {
				justify-content: center;
				align-items: center;
				padding: .25rem;
				border-radius: .5rem;

				>a.svg.image.link {
					margin: .25rem .5rem;
					padding: .25rem;

					>svg {
						width: 1.5rem;
						height: 1.5rem;
						fill: var(--text)
					}

					>svg.instagram.logo {
						fill: var(--purple);
					}

					>svg.github.logo {
						fill: var(--text)
					}

					>svg.linkedin.logo {
						fill: var(--blue)
					}
				}

				>a.sponsor.button {
					margin: .25rem 1rem;
					padding: .25rem 0rem;
				}
			}
		}
	}

	>div.stats {
		margin-top: 3rem;
		justify-content: center;

		>div.buttons.column {
			margin: 1rem 2rem;
			justify-content: center;
		}
	}

	>div.showcase {
		padding: 0rem 1rem;
		justify-content: center;
		align-self: center;
		max-width: 56rem;

		>a {
			flex: 1 1 25rem;
			margin: 1rem;
			padding: 1rem;
			border-radius: .5rem;
			align-items: flex-start;
			justify-content: space-between;
			text-overflow: ellipsis;
			transition: var(--transition);
			background: var(--card);
			outline: var(--outline);
			box-shadow: var(--box-shadow);

			&:hover {
				// box-shadow: 2px 4px 0px black;
				// margin: calc(1rem + 2px) calc(1rem - 1px) calc(1rem - 2px) calc(1rem + 1px);
				box-shadow: 3px 6px 0px var(--orange);
			}

			// &:has(img) {
			// 	flex: 2 1 25rem;
			// }

			// >img {
			// 	border-radius: .5rem .5rem 0rem 0rem;
			// 	outline: var(--outline);
			// 	width: 100%;
			// }

			* {
				max-width: calc(100vw - 6rem);
			}

			>div.title {

				>h3 {
					margin: 0rem;
					color: var(--text);
					font-weight: normal;
					overflow-x: hidden;
					text-overflow: ellipsis;
				}

				>div.description {
					margin: .25rem 0rem 0rem 0rem;
					font-size: .8rem;
					opacity: 80%;
				}
			}

			>div.badges {
				margin: .5rem 0rem 0rem 0rem;

				>img {
					margin: .5rem .5rem 0rem 0rem;
				}

				>img:last-child {
					margin: .5rem 0rem 0rem 0rem;
				}
			}

			>div.engagement {
				margin: 1rem 0rem 0rem 0rem;

				>div {
					margin: 0rem 1rem 0rem 0rem;
					padding: .25rem .5rem;
					border-radius: .5rem;
					vertical-align: middle;
					background: var(--main);
				}

				>div:last-child {
					margin: 0;
				}
			}
		}
	}
}
