/**************************************************************
 *****                 FOOTER STARTS HERE                 *****
 **************************************************************/
footer {
	margin: auto 1rem 1rem 1rem;
	border-radius: .5rem;
	font: .8rem monospace;
	text-align: right;
	background: var(--body);
	align-items: center;

	* {
		max-width: calc(100vw - 2rem);
	}

	>* {
		margin: .5rem 0rem;
	}

	>div.deployment>a.image.link {
		margin: 0rem .5rem;
	}
}
