/**************************************************************
 *****                 FOOTER STARTS HERE                 *****
 **************************************************************/
footer {
	margin-top: auto;
	padding-top: .5rem;
	border-radius: 0rem 0rem 1rem 1rem;
	align-items: center;
	justify-content: space-evenly;

	>div.deployment {
		margin: -.25rem .25rem .25rem .25rem;

		>a.image.link {
			margin: .25rem calc(.25rem + 1px);
		}
	}

	>div.copyright {
		margin: .0rem .75rem .5rem .75rem;
		font: .8rem monospace;
	}
}
