div.game {
	margin: 2rem auto 3rem auto;
	align-items: center;

	>table {
		font-size: 2.5rem;
		line-height: 2.5rem;
		text-align: center;

		tr>td {
			width: 4rem;
			height: 4rem;
			border: var(--outline3);
			transition: var(--transition5);

			>img {
				width: 100%;
				height: 100%;
				transition: var(--transition5);
			}

			>img.empty {
				cursor: pointer;
				opacity: 1%;
			}

			img.empty:hover {
				opacity: 10%;
			}
		}
	}

	>div.result {
		height: 0;
		width: 16rem;
		margin: 1rem auto 0rem auto;
		font-family: monospace;
		font-size: 1.1rem;
		text-align: center;

		* {
			height: 0;
			transform: scaleY(0);
			opacity: 1%;
		}

		&.show {
			height: 5.75rem;

			* {
				height: fit-content;
				transform: none;
				opacity: 100%;
			}
		}

		>div.title {
			margin: 0px 1px;
			padding: .5rem;
			border-radius: .5rem;
			background: var(--coral);
			color: var(--mariana0);
			font-weight: bold;
			outline: var(--outline);
			box-shadow: var(--box-shadow1);
		}

		>div.buttons {
			margin-top: 1rem;
			height: 2.5rem;

			>div {
				flex: 1;
				text-align: center;
				color: var(--mariana0);
			}

			>div.minus {
				flex: 1;
				border-radius: .5rem 0rem 0rem .5rem;
			}

			>div.restart {
				flex: 4;
				border-radius: 0rem;
			}

			>div.plus {
				flex: 1;
				border-radius: 0rem .5rem .5rem 0rem;
			}
		}
	}
}
