div.github.stats {
	margin: 1rem 2rem;

	>div.table {
		border-radius: .5rem;
		outline: var(--outline);
		// box-shadow: var(--box-shadow1);

		>div {
			display: flex;
			height: 2rem;
			padding: 0rem .5rem;
			margin-bottom: -2px;
			justify-content: space-evenly;
			align-items: center;
			text-align: center;
			border-radius: .5rem .5rem 0rem 0rem;
			background: var(--mariana0);
			color: var(--mariana3);
		}

		>table {
			width: 100%;
			height: calc(100% - 1.9rem);
			font-size: .8rem;
			border-radius: 0rem 0rem .5rem .5rem;
			background: var(--orange);
			color: var(--mariana0);

			tr {
				border-top: var(--outline);
				line-height: 1rem;
				text-align: right;

				>td {
					padding: .375rem .5rem;
				}

				>td.stroke {
					padding: .375rem .25rem;
				}

				>td.value {
					font: normal 1rem monospace;
					text-align: right;
				}
			}
		}
	}
}
