div.github.stats {
	margin: .75rem;
	width: 20rem;
	border-radius: .66rem;
	background: var(--orange);
	color: var(--mariana0);
	outline: var(--outline);
	box-shadow: var(--box-shadow1);

	>div {
		flex: 1;
		padding: .5rem 1.5rem;
		cursor: default;

		&:nth-child(2) {
			outline: var(--outline);
		}

		>div {
			text-align: center;

			&:first-child {
				font: bold 1.1rem monospace;
				line-height: 1.75rem;
				justify-content: center;
				align-items: center;

				>span.stroke {
					margin-right: .5rem;
					font-size: 0.9rem;
				}
			}

			&:last-child {
				margin-top: .2rem;
			}
		}
	}
}
