div.pypi.stats {
	margin: 1rem;

	>h3 {
		margin: 0rem;
		font: normal 1.25rem sans-serif;
		text-align: center;
	}

	>div.table {
		width: max-content;
		margin-top: .5rem;
		border-radius: .5rem;
		font-size: .8rem;
		border: 2px solid var(--coral);
		position: relative;

		>div.total {
			padding: .2rem .5rem;
			justify-content: space-evenly;
			align-items: center;
			background: var(--coral);
			color: var(--mariana0);

			>div:last-child {
				font: normal 1.5rem monospace;
			}
		}

		>table {
			width: 100%;

			tr:first-child {
				border: none;
			}

			tr {
				border-top: 2px solid var(--coral);
				line-height: 1rem;
				transition: var(--transition);

				&:hover {
					background: var(--body);
				}

				>td {
					padding: .25rem .5rem;
				}

				>td.downloads {
					font: normal 1rem monospace;
					text-align: right;
				}
			}
		}

		>div.graph {
			opacity: 0;
			position: absolute;
			top: 50%;
			right: 0%;
			height: calc(100% + 3.5px);
			translate: 100% -50%;
			border-radius: 0rem .5rem.5rem 0rem;
			border: 2px solid var(--coral);
			transition: var(--transition);

			>div {
				padding: .475rem;
				justify-content: space-between;
				background: var(--coral);
				color: var(--mariana0);

				>span {
					font: bold 1rem monospace;
				}
			}

			>svg {
				width: 16rem;
				height: calc(100% - 1.85rem);
				border-radius: 0rem 0rem .5rem 0rem;
			}
		}
	}
}
