section {
	>div.hello {
		>div.left {
			flex: 1;

			>div.flex.wrap {
				align-items: center;

				>p {
					margin: .5rem .5rem;
				}

				>div.flex.wrap>a.image.link>img {
					margin: 0rem .25rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		>a.image.link {
			flex: 0;
			margin: 2rem 1rem 0rem 1rem;
		}
	}
}
