section.HiImSimon {
	>div.hello {
		justify-content: center;

		>pre {
			flex: 1;
			margin: 1rem 1rem 0rem 1rem;
		}

		>div.right {
			flex: 1;
			margin: 0rem 1rem;
			min-width: 16rem;

			>h1 {
				transition: var(--transition);

				// &:hover {
				// 	color: white;
				// 	filter: drop-shadow(0rem 0rem .5rem yellow)
				// }
			}

			>p {
				margin: .5rem .5rem;
				text-align: center;
				align-items: baseline;
			}

			>div.flex.wrap {
				justify-content: center;
				padding: .25rem;
				border-radius: .5rem;
				// background: var(--orange);

				>a.svg.image.link {
					margin: 0rem .5rem;
					padding: .25rem;
					border-radius: .5rem;
					transition: var(--transition);

					>svg {
						width: 1.5rem;
						height: 1.5rem;
						transition: var(--transition);
						fill: var(--text)
					}

					>svg.instagram.logo {
						fill: var(--purple);
					}

					>svg.github.logo {
						fill: var(--text)
					}

					>svg.linkedin.logo {
						fill: var(--blue)
					}

					&:hover {
						// box-shadow: inset 0rem .2rem .5rem .2rem hsla(0, 0%, 0%, 33%);

						&>svg {
							fill: white !important;
							filter: drop-shadow(0rem 0rem .3rem yellow);
						}
					}
				}
			}
		}
	}

	>a.image.link {
		margin: 1rem auto 0rem auto;
	}
}
